<%= javascript_include_tag "pinger.js" %>

<h1> I'm Here </h1>

<h1 id= "Homepage"> The Homepage has not been loaded </h1>
<h1 id= "API"> The API has not been loaded </h1>


<h1 id= "Read"> The Read has not been completed </h1>